<!DOCTYPE html>
<html>
    {{>background}}
<head>
    <link rel = 'stylesheet' href="/css/style.css" >
    <link rel="icon" href="/image/ico.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700,400italic' rel='stylesheet'>
              <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <title>
        Winker | About
    </title>

</head>

<body>
    <div class='main-content'>        
        {{>header}}
        <div class="card">
        <img class='portrait' src="/image/image.jpg">
                              <div class='column'>  
                             <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; color: #8bcdec; padding-left: 5px;font-size: 27px;padding-top: 25px;" >Syed Muhammad Imran</h1>
                             <h1 style="color: rgb(32, 173, 173); font-family: Georgia, 'Times New Roman', Times, serif;font-size: 13px;">MuhammadSyed.cs@gmail.com</h1>
                            <p class="title">Computer System Engineer</p>
                                <h1 style="color: rgb(32, 173, 173); font-family: Georgia, 'Times New Roman', Times, serif;font-size: 13px;">NED University of Engineering & Technology</h1>
                              <a href="https://www.github.com/MuhammadSyyed"><i style="color:#8bcdec" class="fa fa-github"></i></a>
                              <a href="https://www.linkedin.com/in/MuhammadSyyed/"><i style="color: violet" class="fa fa-linkedin"></i></a>
                              <a href="https://twitter.com/Muhammadsyedcs"><i style="color:skyblue;" class="fa fa-twitter"></i></a>
                              </div>
        </div>
    </div>
    
</body>
    
    {{>footer}}

</html>