<!DOCTYPE html>
<html>
    {{>background}}
<head>
    <link rel = 'stylesheet' href="/css/style.css" >
    <link rel="icon" href="/image/ico.png">
    <title>
        Error-404
    </title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{text}}</p>
    </div>

{{>footer}}

</body>

</html>