<!DOCTYPE html>
<html>
    {{>background}}
<head>
    <link rel = 'stylesheet' href="/css/style.css" >
    <link rel="icon" href="/image/ico.png">
    <title>
        Help
    </title>
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>
    <div class="card">
    <p>Welcome to my very first NodeJs App "Weather App" hope you like it. Following are some useful instruction that may help you while using this:</p>
    <p>You can search weather for any place with the help of place's name or zip code. The more specific you enter the location, the more accurate search results you'll get.
        Thankyou!</p>
    <p>Regards,</p>
    <p>-MuhammdSyed</p>
    </p>
    </div>
        {{>footer}}

</body>

</html>
